#squaresContainer {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
}

.square {
    width: 5px;
    height: 5px;
    border: 1px solid gray;
    margin-right: 5px;
    margin-bottom: 5px;
}

.square.filled {
    background-color: gray;
}

#winner {
    margin: 10px 0;
    display: block;
}
